/* th, tr, td, caption, table 
{
    border: 1px solid black;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    padding: 0.5px;
}
    */

/*   th, tr, td, caption, table 
{
    border: 1px solid black;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    padding: 2px;
    text-align: center;
}
    */

@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

/* || Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input,
button,
textarea {
  font: inherit;
}

/* || Variables */

:root {
  /* Fonts */
  --FF: "Nunito", sans-serif;
  --FF-HEADINGS: "Fugaz one";
  --FS: clamp(1rem, 2.2dvh, 1.5rem);
  /* Colors */
  
  --BGCOLOR: rgb(255, 165, 0);
  --BGCOLOR-FADE: rgb(250, 218, 158);
  --BGIMAGE: linear-gradient, (to bottom, var(--BGCOLOR), var(--BGCOLOR-FADE));
  --BODY-BGCOLOR: #fff;
  --FONT-COLOR: #000;
  --BORDER-COLOR: #333;
  --HIGHLIGHT-COLOR: green;
  --LINK-COLOR: #000;
  --LINK-HOVER: hsla(0, 3%, 19%, 0.425);
  --LINK-ACTIVE: orange;
  --LINK-VISITED: rgb(92, 73, 161);
  --HEADER-BGCOLOR: #000;
  --HEADER-COLOR: #fff;
  --NAV-BGCOLOR: #fff;
  --HERO-BGCOLOR: rgba(51, 178, 51, 0.75);
  --HERO-COLOR: #fff;
   

  /* Borders */
  --BORDERS: 1px solid var(--BORDER-COLOR);
  --PADDING-TB: 0.25em;
  --PADDING-SIDE: 2.5%;
  --MARGIN: clamp(1em, 2.5vh, 1.5em);
  --BODER-RADIUS: 15px;
}


/* ||Utility Classes */

.offscreen {
  position: absolute;
  left: -10000px;
}

.nowrap {
  white-space: nowrap;
}

.center {
  text-align: center;
  margin-bottom: 2em;
}

/* ||General  */

html {
  scroll-behavior: smooth;
  font-family: var(--FF);
  font-size: var(--FS);
  background-color: var(--BGCOLOR);
  background-image: var(--BGIMAGE);
}

body {
  background-color: var(--BODY-BGCOLOR);
  font: var(--FONT-COLOR);
  min-height: 100dvh;
  max-width: 800px;
  margin: 0 auto;
  border-left: var(--BORDERS);
  border-right: var(--BORDERS);
  box-shadow: 0 0 10px var(--BORDER-COLOR);
}

h1,
h2,
h3 {
  font-family: var(--FF-HEADINGS);
  letter-spacing: 0.1em;
}

h2,
h3 {
  color: var(--HIGHLIGHT-COLOR);
  margin-bottom: 1em;
}

p {
  line-height: 1.5;
}

a:visited {
  color: var(--LINK-VISITED);
}

a:any-link {
  color: var(--LINK-COLOR);

}

a:hover,
:focus-visible {
  color: var(--LINK-HOVER);
}

a:active {
  color: var(--LINK-ACTIVE);
}

/* ||Header */

.header {
  position: sticky;
  top: 0;
  z-index: 1;
}

.header-h1 {
  background-color: var(--HEADER-BGCOLOR);
  color: var(--HEADER-COLOR);
  text-align: center;
  padding: var(--PADDING-TB) var(--PADDING-SIDE);
}

.header-nav {
  border-bottom: var(--BORDERS);
  box-shadow: 0 6px 5px -5px var(--BORDER-COLOR);
  font-weight: bold;
}

.header-ul {
  padding: var(--PADDING-TB) var(--PADDING-SIDE);
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  font-weight: bold;
  background: #fff; /* i added these line, reason is when i scroll, it covers the menu( will check david gray code to know if i can contribute it */
}

/* ||Hero Section */
.hero {
  position: relative;
}

.hero-h2 {
  background-color: var(--HERO-BGCOLOR);
  color: var(--HERO-COLOR);
  padding: 0.25rem 0.5rem;
  text-shadow: 5px 3px 5px var(--BORDER-COLOR);
  position: absolute;
  left: 20px;
  top: -100px;
  animation: showwelcome 0.5s ease-in-out 1s forwards;
}

@keyframes showwelcome{
  0%{
    top:-20px;
    transform: skew(0deg, -5deg);
    scaleY(0);
  }

  50%{
    top:-30px;
    transform: skew(10deg, -5deg);
    scaleY(1.2);
  }

  100%{
    top: 20px;
    transform: skew(-10deg, -5deg);
    scaleY(1.2);
  }
}

/* ||Footer */

.footer {
  bottom: 0;
  position: sticky;
  z-index: 1;
  background-color: var(--HEADER-BGCOLOR);
  color: var(--HEADER-COLOR);
  text-align: center;
  padding: var(--PADDING-TB) var(--PADDING-SIDE);
}

/* ||Main */

.main {
  padding: var(--PADDING-TB) var(--PADDING-SIDE);
}

.main-article {
  scroll-margin-top: 6.5rem;
  margin: var(--MARGIN);
}

.main-article:first-child {
  margin-top: 1em;
}

.main-article:last-child {
  min-height: calc(100vh - 20rem);
}

/* ||About */

.about-trivia{
  margin: var(--MARGIN);
}

.about-trivia-answer{
  margin-top: 1em;
}

/* ||Contact */

h2{
  margin: 1em;
}

.contact-fieldset{
  border: none;
}

.contact-p{
  margin: 1em 0.5;
  
  
}

.contact-label{
  display: block;
  font-weight: bold;
}
.contact-textarea,
.contact-input{
  padding:0.5em;
  border-radius: var(--BODER-RADIUS);
  border-width: 2px;
  width:100% ;
  color: #222; /* i added these line, reason is typing in the input is faded gray color, same with the default placehoder there already( will check david gray code to know if i can contribute it */

}

.contact-button{
  padding: 0.5em;
  border-radius:var(--BODER-RADIUS);
  background-color: var(--HIGHLIGHT-COLOR);
  color:var(--HEADER-COLOR) ;
}

/* || Menu */

thead, tfoot, tbody, tr{
  display: contents;
}

.menu-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 
    "hd1 hd2 hd3"
    "cr cr1 cr1p"
    "cr cr2 cr2p"
    "cr cr3 cr3p"
    "sf sf1 sf1p"
    "sf sf2 sf2p"
    "sf sf3 sf3p"
    "cs cs cs";
  gap: 0.1em;
  margin-bottom: 1em;
}

.menu-cr{
  grid-area: cr;
}

.menu-sf{
  grid-area: sf;
}

.menu-cs{
  grid-area: cs;
  
}

.menu-cr, .menu-sf, .menu-cs, .menu-header{
  color: var(--HIGHLIGHT-COLOR);
  font-weight: bold;
  height: 100%;
  display: grid;
  place-content: center;
}

.menu-header{
  border-bottom: var(--BORDERS);
}

.menu-header, .menu-item{
  width: 100%;
  padding: 1em;
  border: medium ridge var(--BORDER-COLOR);
}

.menu-item{
  display: grid;
  place-content: center;
}

thead th:first-child{
  border-top-left-radius: var(--BODER-RADIUS);
}

thead th:last-child{
  border-top-right-radius: var(--BODER-RADIUS);
}

tfoot td{
  border-bottom-left-radius: var(--BODER-RADIUS);
}

tfoot td{
  border-bottom-right-radius: var(--BODER-RADIUS);
}

@media screen and (min-width:576px) {
  .header-h1::before{
    content: '🌮 '
  }
  .header-h1::after{
    content: ' 🌮'
  }
}

.menu-header,
.menu-cs,
.menu-cr,
.menu-sf{
  font-size: 125%;
}